<configuration>
    <property name="MIGRATION_DIR" value="migration" />
    <property name="MIGRATION_FILE_PREFIX" value="hibernate_sql_" />
    <property name="MIGRATION_FILE_SUFFIX" value=".log" />

    <property name="LOG_DIR" value="logs" />
    <property name="LOG_FILE_PREFIX" value="logs_sql_" />
    <property name="LOG_FILE_SUFFIX" value=".log" />

    <timestamp key="myTimestamp" timeReference="contextBirth" datePattern="yyyy-MM-dd"/>
<!--    <timestamp key="myTimestamp" timeReference="contextBirth" datePattern="yyyy-MM-dd'_'HH-mm-ss.SSS"/>-->


    <appender name="FILE" class="ch.qos.logback.core.FileAppender">

        <file>${MIGRATION_DIR}/${MIGRATION_FILE_PREFIX}update-${myTimestamp}.log</file>
        <append>true</append>
        <encoder>
            <!-- Adjust the pattern to include only specific log messages and exclude the prefix -->
            <pattern>%replace(%msg){'^Hibernate: (alter|create|delete|drop|truncate)', '$1'}%n</pattern>
        </encoder>
    </appender>

    <!-- Appender for general logs -->
    <appender name="AUTH_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${LOG_FILE_PREFIX}update-${myTimestamp}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.SQL" level="debug">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Logger for AuthController logs -->
    <logger name="com.ops.authentication.OPSAuthentication.controller.AuthController" level="debug">
        <appender-ref ref="AUTH_FILE"/>
    </logger>

    <root level="info">
        <!-- Specify your desired root configuration, if any -->
    </root>

</configuration>
